@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject ProtectedLocalStorage localStore
<PageTitle>BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4">
            <p>@isVisible</p>
            @if (!string.IsNullOrEmpty(visible))
            {
                <button @onclick="@Exit">Çıkış</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string isVisible
    {
        get
        {
            getStore();
            return "";
        }
    }
    private string visible;
    private async void Exit()
    {
        await localStore.DeleteAsync("UserName");
    }
    private async void getStore()
    {
        var result = await localStore.GetAsync<string>("UserName");
        visible = result.Success ? result.Value : "";
    }
}
