@page "/login/login"
@inject NavigationManager navManager

<PageTitle>@TitleString</PageTitle>
<h1>GİRİŞ</h1>

<p><b>Kullanıcı Adı:</b></p>

<input @bind="@UserName" />

<p><b>Şifre:</b></p>

<input type="password" @bind="@Password" />
<br />

<p style="color:red;"><b>@UserException</b></p>

<button @onclick="LoginClick">Giriş Yap</button>
